
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.exe
*.test
*.prof

._*
.DS_Store
.AppleDouble
*~
.vscode
*.pb.go
go.sum
*.tmp
.vscode
build

