[submodule "third_party/flex"]
	path = third_party/flex
	url = git@github.com:kjk/flex.git
[submodule "third_party/zeroconf"]
	path = third_party/zeroconf
	url = https://github.com/grandcat/zeroconf.git
