[Unit]
Description=Argon One Service
Documentation=https://github.com/djthorpe/gopi
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=gopi
Group=gopi
EnvironmentFile=/opt/gopi/etc/argonone.env
ExecStart=/opt/gopi/bin/argonone \
    -debug=${DEBUG} \
    -argonone.measurement=${MEASUREMENT} \
    -influxdb.url=${INFLUXDB}
Restart=on-failure
