[Unit]
Description=Google DNS Registration Service
Documentation=https://github.com/djthorpe/gopi
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=gopi
Group=gopi
EnvironmentFile=/opt/gopi/etc/dnsregister.env
ExecStart=/opt/gopi/bin/dnsregister daemon\
    -debug=${DEBUG} \
    -csv.path=${CSVPATH} \
    -csv.append=${CSVAPPEND}
Restart=on-failure
