[Unit]
Description=Douglas Service
Documentation=http://github.com/djthorpe/gopi/cmd/douglas
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=gopi
Group=gopi
EnvironmentFile=/opt/gopi/etc/douglas.env
ExecStart=/opt/gopi/bin/douglas -loop ${FLAGS} /opt/gopi/var/images/*
Restart=on-failure
